<div style="height:50vh ; background-color:rgb(248, 20, 20)">
<div style="height:600px; border-radius:10px;box-shadow:10px 10px 50px rgb(24, 23, 23); width:1500px;background:black; margin-top:200px; margin-left:200px; position:fixed">
<div class="row" style="margin-left: 30px">
    <div class="col-6-sm" style="width:720px; ">
        
        </div>
 
    <div class="col-6-sm" style="width:720px">
      <form style="font-family: 'Prociono', serif; color:white; font-size:20px; margin-top:40px" method="POST" action="/info/add">
            <div style="margin-bottom: 30px">
            <lable for="Target Name" >Nick </lable>
            <br>
            <input name="nick" type="text" class="inputhov"  style="border:none; background:black; width:60%; border-bottom: 2px solid rgb(248, 20, 20); hover{margin-bottom:10px}">
            </div>
            <div style="margin-bottom: 30px">
            <lable for="Password" >Password </lable>
            <br>
            <input name="password" type="password" class="inputhov"  style="border:none; background:black; width:60%; border-bottom: 2px solid rgb(248, 20, 20); hover{margin-bottom:10px}">
            </div>
            <div style="margin-bottom: 35px">
            <lable for="Target Name" >e-Mail </lable>
            <br>
            <input name="email" type="text" class="inputhov" style="border:none; background:black; width:60%; border-bottom: 2px solid rgb(248, 20, 20);">
            </div>
            <div style="margin-bottom: 35px">
            <lable for="Target Name" >Bio</lable>
            <br>
            <input name="description" type="text" class="inputhov" style="border:none; background:black; width:60%; border-bottom: 2px solid rgb(248, 20, 20);">
            </div>
            <button type="submit" class="btn"  style="background:rgb(248, 20, 20); color:white">Add</button>
            </form>
        
    </div>
  
  </div>


</div>
</div>
<link href="https://fonts.googleapis.com/css?family=Prociono&display=swap" rel="stylesheet"> 

<style>
    .inputhov:hover{
        margin-bottom:10px;

    }
</style>
